@model Usuario
@{
	ViewBag.Subtitulo = "Cadastro";
}

<h1 class="text-primary">Cadastro de Usuário</h1>
<hr>
<form method="POST" class="w-25">
	<input type="hidden" asp-for="IdUsuario">
	<div class="form-group">
		<label asp-for="Nome">Nome: 	</label><br>
		<input asp-for="Nome" class="form-control">
	</div>
	<div class="form-group">
		<label asp-for="Email">E-mail: </label><br>
		<input asp-for="Email" class="form-control">
	</div>
	<div class="mt-3">
		<button type="submit" class="btn btn-primary" >Cadastrar</button>
		<a href="/Home/Usuarios" class="btn btn-light">Cancelar</button></a> 
	</div>
</form>

@section Footer {
	<div class="text-info">Cadastro</div>
}

@section LogoPagina{
	<img src="/img/edit_user.png" height="24" class="d-inline-block align-text-bottom" alt="" srcset="">
}