<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">
	<title>UsandoViews :: Index</title>
</head>
<body>
	
	<div class="container">
		<h1 class="text-primary">Página Principal - ASPNET</h1>
		<hr>
		<p>Bem vindo ao ASPNET!</p>
		<a href="Home/Cadastrar" class="btn btn-primary">Quero me Cadastrar</a>
	</div>
		
</body>
</html>