<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UsandoViews :: Index</title>
</head>
<body>
	<h1>Página Principal - ASPNET</h1>
	<hr>
	<p>Bem vindo ao ASPNET!</p>
</body>
</html>