@{
	ViewBag.Subtitulo = "Página Principal";
}
<h1 class="text-primary">CRUD COM ASP.NET</h1>
<hr>
<h3 class="text-info">Usuários cadastrados: @ViewBag.QtdeUsuarios</h3>
<hr>
<a href="/Home/Usuarios" class="btn btn-primary">Usuarios</a>

@section Footer {
	<div class="text-info">Página Principal</div>
}